<b-card :title="'component.game_view.label.title' | translate">
  <div id="phaser-game"></div>
  <div>
    <b-button variant="primary" v-on:click="loadNextLevel" :disabled="isNextLevelButtonDisabled">{{ 'component.code_editor.action.load_next_level' | translate }}</b-button>
    <b-button variant="secondary" v-on:click="changeSpeed">{{ 'component.game_view.action.change_speed' | translate }}</b-button>
    <span>{{numberOfCarrotsCollected}} / {{totalNumberOfCarrots}}</span>
    <span>{{status}}</span>
  </div>
</b-card>
