<b-card :title="'component.game_actions.title' | translate">
  <b-button-group>
    <b-button variant="primary" v-on:click="executeCode" :disabled="isExecuteButtonDisabled">{{ 'component.game_actions.action.execute_code' | translate }}</b-button>
    <b-button variant="primary" v-on:click="retryLevel" :disabled="isRetryLevelButtonDisabled">{{ 'component.game_actions.action.retry_level' | translate }}</b-button>
    <b-button variant="primary" v-on:click="loadNextLevel" :disabled="isLoadNextButtonDisabled">{{ 'component.game_actions.action.load_next_level' | translate }}</b-button>
    <b-button variant="primary" v-on:click="changeGameSpeed">{{ 'component.game_actions.action.change_game_speed' | translate }}</b-button>
  </b-button-group>
</b-card>
