<b-container class="mt-3" fluid>
  <b-row>
    <b-col>
      <b-card
          :title="'page.home.card.beginner.title' | translate"
          img-src='assets/img/bunnies/bunny_01.jpg'
          :img-alt="'page.home.card.beginner.title' | translate"
          img-top
          tag="article"
          class="mb-2">
        <p class="card-text">{{ 'page.home.card.beginner.text' | translate }}</p>
        <b-button to="play" variant="primary">{{ 'page.home.card.beginner.button' | translate }}</b-button>
      </b-card>
    </b-col>
    <b-col>
      <b-card
          :title="'page.home.card.advanced.title' | translate"
          img-src='assets/img/bunnies/bunny_02.jpg'
          :img-alt="'page.home.card.advanced.title' | translate"
          img-top
          tag="article"
          class="mb-2">
        <p class="card-text">{{ 'page.home.card.beginner.text' | translate }}</p>
        <b-button variant="primary" disabled>{{ 'page.home.card.beginner.button' | translate }}</b-button>
      </b-card>
    </b-col>
    <b-col>
        <b-card
            :title="'page.home.card.master.title' | translate"
            img-src='assets/img/bunnies/bunny_03.jpg'
            :img-alt="'page.home.card.master.title' | translate"
            img-top
            tag="article"
            class="mb-2">
          <p class="card-text">{{ 'page.home.card.master.text' | translate }}</p>
          <b-button variant="primary" disabled>{{ 'page.home.card.master.button' | translate }}</b-button>
        </b-card>
      </b-col>
    </b-row>
</b-container>
