#code-editor {
  min-width: 100px;
  min-height: 100px;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.highlight-line {
  background-color: green;
  opacity: 0.5;
  position: absolute;
}
