<b-card :title="'component.code_editor.title' | translate">
  <div id="code-editor"></div>
  <div class="mt-2">
    <b-button variant="primary" v-on:click="executeCode" :disabled="isRunButtonDisabled">{{ 'component.code_editor.action.execute_code' | translate }}</b-button>
  </div>
</b-card>
