<b-navbar toggleable="md" type="dark" variant="info">
  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-navbar-brand href="#">{{ 'component.navbar.header' | translate }}</b-navbar-brand>
  <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav class="ml-auto">
      <b-nav-item>
        <span>{{ environment }}</span>
      </b-nav-item>
      <b-nav-item-dropdown :text="'component.navbar.language' | translate" right>
        <b-dropdown-item v-on:click="setLocale('en')">{{ 'component.navbar.language.english' | translate }}</b-dropdown-item>
        <b-dropdown-item v-on:click="setLocale('fi')">{{ 'component.navbar.language.finnish' | translate }}</b-dropdown-item>
      </b-nav-item-dropdown>
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
