<b-container class="mt-3" fluid>
  <b-row>
    <b-col>
      <code-editor></code-editor>
      <game-actions></game-actions>
    </b-col>
    <b-col>
      <game-view></game-view>
    </b-col>
  </b-row>
</b-container>
